html, body {
    background: lightblue;
    color: black;
}

#header {
    background-color: black;
    color: red;
}


#input-champs {
    border: solid;
    border-bottom: none;
    border-color: yellow; 
    border-left: none;
    border-right: none;
    padding-top: 25px;
}

.damage{
    border:  solid yellow;
    position: relative;
    top: 35px;
}

.spells {
    position: relative;
    left: 119px;
}

.short {
    margin: auto 0;
}

.runes{
    filter: grayscale(100%);
}

.runes:hover{
    filter: grayscale(0%);
}

.active{
    filter: grayscale(0%);
}

button {
    cursor: pointer;
    background-color: Transparent;
    color: black;
    margin: 10px;
}

input {
    background-color: Transparent;
    color: black;
    margin: 10px;
}

.clickable {
    cursor: pointer;
}

.level-input {
    width: 20px;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.stats-and-runes {
    border: solid;
    background-color: lightgray;
}

.s-r-button {
    width: 60px; 
    border: solid;
    position: relative;
    top: 10px;
    padding: 10px;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.clicked {
    background-color: lightgray;
    color: black;
}

.subrunes {
    height: 32px;
    width: 32px;
}

.keystones {
    height: 45px;
    width: 45px;
}
